{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Booking Details</h2>
    <div class="card shadow-sm mt-3">
        <div class="card-body">
            <!-- Booking Information -->
            <h4>Booking Information</h4>
            <p><strong>Event:</strong> {{ booking.event.title }}</p>
            <p><strong>Host:</strong> {{ booking.event.user.username }}</p>
            <p><strong>Start Time:</strong> {{ booking.start_time|date:"M d, Y H:i A" }}</p>
            <p><strong>End Time:</strong> {{ booking.end_time|date:"M d, Y H:i A" }}</p>
            <p><strong>Status:</strong> {{ booking.status }}</p>
            <p><strong>Invitee:</strong> {{ booking.invitee.username }}</p>
            <p><strong>Created At:</strong> {{ booking.created_at }}</p>
            <p><strong>Updated_at:</strong> {{ booking.updated_at }}</p>

            <!-- Event Information -->
            <h4 class="mt-4">Event Information</h4>
            <p><strong>Event Title:</strong> {{ booking.event.title }}</p>
            <p><strong>Event Type:</strong> {{ booking.event.event_type }}</p>
            <p><strong>Description:</strong> {{ booking.event.description }}</p>
            <p><strong>Location:</strong> {{ booking.event.get_location_display }}</p>
            <p><strong>Duration:</strong> {{ booking.event.duration }} mins</p>
            <p><strong>Buffer Time:</strong> {{ booking.event.buffer_time }} mins</p>
            <p><strong>Is Recurring:</strong> {{ booking.event.is_recurring }}</p>
            <p><strong>Event Creation Date:</strong> {{ booking.event.created_at }}</p>

            <!-- Actions -->
            <div class="mt-4">
                <a href="{% url 'event_details' booking.event.id %}" class="btn btn-primary">
                    View Event Details
                </a>
                <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger">
                    Cancel Booking
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
