<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { padding: 20px; }
        .log-entry { border-bottom: 1px solid #ddd; padding: 10px 0; }
        .log-entry:last-child { border-bottom: none; }
        .timestamp { color: gray; font-size: 12px; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Backup Logs for Task: {{ task.title }}</h2>
        <p>Dear {{task.created_by.username}}</p>

        <strong>{{task.assigned_to.username}} Shared task backup logs to you| Look at the following information below</strong>

        <p>
            Workspace and group
            <strong>{{organization.name}}</strong>
            <strong>{{group.name}}</strong>
        </p>


        {% for log in logs %}
            <div class="log-entry">
                <strong>{{ log.performed_by.username }}</strong> {{ log.action }} at <span class="timestamp">{{ log.timestamp }}</span>
                <br>
                <small>{{ log.details }}</small>
            </div>
        {% empty %}
            <p>No logs available.</p>
        {% endfor %}
    </div>
</body>
</html>
