<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Event</title>
    <!-- Import Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 font-sans text-gray-800">
    <div class="container mx-auto px-6 py-12 max-w-3xl">
        <!-- Heading Section -->
        <h2 class="text-2xl font-semibold text-indigo-600 mb-4">Choose a Slot to Book The <span class="text-pink-500">{{ event.title }}</span></h2>
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Select a slot and move to next page</h1>
        <p class="text-lg text-gray-600 mb-4">We prevent bookings on breaks and holidays!</p>
        <strong class="text-gray-700">We found the {{event.user}} is available on the slots for <span class="text-indigo-500">{{ date }}</span>. If a slot is already booked by someone, we will prevent you from scheduling the meeting in the next step.</strong>

        <!-- Booking Form -->
        <form method="GET" action="{% url 'confirm_event' user_id=user.id org_id=organization.id date=date event_slug=event_slug %}" class="mt-8">
            {% csrf_token %}
            <div id="slots-container" class="space-y-4">
                {% for slot in time_slots %}
                    <div class="slot flex items-center p-4 bg-white rounded-lg shadow-md hover:bg-indigo-50">
                        <input type="radio" name="selected_slot" value="{{ slot }}" id="slot-{{ forloop.counter }}" required class="mr-3 h-5 w-5 text-indigo-600 border-gray-300 focus:ring-indigo-500">
                        <label for="slot-{{ forloop.counter }}" class="text-lg font-medium text-gray-700">{{ slot }}</label>
                    </div>
                {% endfor %}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="mt-6 px-6 py-3 w-full bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                Next
            </button>
        </form>
    </div>
</body>

</html>
